<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Huỳnh Đình Hiệp - 18119148</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="./favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Simple line icons-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="styles.css" rel="stylesheet" /> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
        
    <body id="page-top">
        <!-- Navigation-->
        <a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#page-top">Start Bootstrap</a></li>
                <li class="sidebar-nav-item"><a href="#page-top">Home</a></li>
                <li class="sidebar-nav-item"><a href="#about">About</a></li>
                <li class="sidebar-nav-item"><a href="#services">Services</a></li>
                <li class="sidebar-nav-item"><a href="#portfolio">Portfolio</a></li>
                <li class="sidebar-nav-item"><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <!-- Header-->
        <header class="masthead d-flex align-items-center" style="background-image: url('{{ url_for('static', filename='css/img/bg-masthead.png') }}') ;">
            <div class="container px-4 px-lg-5 text-center">                
                <h1 class="mb-1">PHẦN MỀM PHIÊN DỊCH DÀNH CHO NGƯỜI KHIẾM THÍNH</h1><br>
                <h2 class="mb-5"><em>GVHD: TS. TRẦN VŨ HOÀNG <br> SVTH: HUỲNH ĐÌNH HIỆP 18119148</em></h2>
                <a class="btn btn-primary btn-xl" href="#about">GET STARTED</a>
            </div>
        </header>
    </body>
    
    
    <!-- <section class="content-section bg-light" id="about"> -->
    <section class="content-section mybody" id="about">
        <div class="container px-4 px-lg-5 text-center">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <h1>DEMO</h1><br>
                <div class="row">
                    <div class="column">
                        <br>
                        <h1>Audio Input</h1>
                        <br>
                        <!-- <div class="asr-record d-flex flex-wrap">
                            <button class="button-asr margin-right-16 margin-bottom-16" id="streaming-btn"
                                    v-on:click="record()" v-bind:disabled="buttonsASR['upload'].processing">
                                <span class="d-flex align-items-center">
                                    <img class = "myiconmicro" alt="micro" src="/img/micropng.png"/>&nbsp; 
                                    <span style="font-size: 20px; padding-left: 10px; color:#fff">
                                        RECORD
                                    </span>
                                </span>
                            </button>
                            <input type="file" id="audioUpload" style="display:none" accept=".raw, .wav, .mp3"
                                   v-on:change="upload($event)"/>
        
                            <button class="button-asr" id="uploadButton" v-on:click="openUploadDialog()" v-bind:disabled="buttonsASR['upload'].processing">
                                <span class="d-flex align-items-center">
                                    <img class="myiconupload" alt="micro" src="/img/upload.png"/>&nbsp; 
                                    <span style="font-size: 20px; padding-left: 10px; color:#fff">
                                        UPLOAD
                                    </span>
                                </span>
                            </button>
                        </div> -->
                        <div id="controls">
                            <button id="recordButton">Record</button>
                            <button id="pauseButton" disabled>Pause</button>
                            <button id="stopButton" disabled>Stop</button>
                         </div>
                         <div id="formats">Format: start recording to see sample rate</div>
                           <p><strong>Recordings:</strong></p>
                           <div id="recordingsList"></div>
                        <br>
                        <!-- <div class="demo-tts-control-minize-player" style="display: none">
                            <button class="mybutton" id="speak" v-on:click="speak(false,null)">
                                <img class="myiconplay" class = "alt="voice src="/img/play.png"  />&nbsp;
                            </button>
                            <button class="mybutton" id="pause" v-on:click="pauseAudio()"
                                    style="display: none">
                                <img alt="voice" src="/img/pause.png"/>&nbsp;
                            </button>
                            <button class="mybutton" id="action-stop" v-on:click="stopAudio()">
                                <img class="myiconstop" alt="voice" src="/img/stop.png"  />&nbsp;
                            </button>
                            <input id="player" data-slider-id='ex1Slider' type="range" min="0" max="100" value="0"
                                    disabled/>
                            <audio id="audioPlayer" src=""></audio>
                        </div> -->
                        <br>
                        <h1>Text Input</h1>
                        <br>
                        <form method="post" id="input-form">
                            <textarea placeholder="Type or paste content here" class="notebook" id="input" ></textarea><br>
                            <select name="mode" id="mode">
                                <option value="text">Text</option>
                                <option value="audio">Audio</option>
                              </select>
                            <select name="gender" id="gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select><br><br>
                            <button onclick="setting_default(); move()" id="submit_btn" type="submit">submit</button>
                        </form>
                        <script src="https://code.jquery.com/jquery-3.5.1.js"
                                integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                                crossorigin="anonymous">
                                                        
                        </script>
                        <script type="text/javascript" >
                            // let formData = new FormData();
                            // var data_send
                            var data_send = new FormData()

                            $(document).on('submit','#input-form',function(e)
                                        {
                                            // formData.append('input', $("#input").val());
                                //             data_send = {
                                // input:$("#input").val()
                                // }
                                data_send.append('input',$("#input").val())
                                data_send.append('mode',$("#mode").val())
                                data_send.append('gender',$("#gender").val())
                            e.preventDefault();
                            $.ajax({
                                type:'POST', 
                                url:'/',
                                data: data_send,
                                processData: false,
                                contentType: false,
                                success:function(filename)
                                {
                                    data_send = new FormData()
                                    flag = 1;
                                    path = "../static/output/" + filename
                                    var video = document.getElementById('video_tag');
                                    var source = document.getElementById('source_tag');
                                    source.setAttribute('src',path);
                                    video.load();
                                    setTimeout(() => {
                                            console.log("Delayed for 1 second.");
                                            hideVideoFunction();
                                        }, "1000")
                                    
                                // alert('saved');
                                }
                            })
                            });
                            
                        </script>
                        <!-- <form id = "classForm" method="post">
                        <form id = "classForm" method="post">
                        <input type="text" name="input_text" />
                        <textarea placeholder="Type or paste content here" class="notebook" id="input" ></textarea>
                        <br>
                        <button onclick="hideVideoFunction()" id="submit_btn" class="button-submit" >Submit</button> 
                        <br>
                        </form> -->
                        <br>
                    </div>
                    
                    <div class="column">
                        <br>
                        <div class="video_div" >
                            <p class="p_video">Video result will be showed in here</p>
                            <video id = "video_tag" class="hideVideo" width="720" controls>
                                <source id = "source_tag" src="" type="video/mp4">
                            </video>
                            <div class="w3-light-grey" id="loading">
                                <div id="myBar" class="w3-container w3-green" style="width:5%">5%</div>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>            
        </div>
    </section>
    <canvas></canvas>
    <footer class="footer text-center">
            <div class="container px-4 px-lg-5">
                <ul class="list-inline mb-5">
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3" href="#!"><i class="icon-social-facebook"></i></a>
                    </li>
                    <!-- <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3" href="#!"><i class="icon-social-twitter"></i></a>
                    </li> -->
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white" href="#!"><i class="icon-social-youtube"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white" href="#!"><i class="icon-social-github"></i></a>
                    </li>
                </ul>
                <p class="text-muted small mb-0">Copyright &copy; HCMUTE 2022</p>
            </div>
        </footer>
    <!-- <script src="templates/scripts.js"></script> -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/stats.js/r11/Stats.js'></script>
    <script src="{{ url_for('static', filename='js/galaxy.js') }}"></script>
    <!-- <script src="templates/js/recorder.js"></script>
  	<script src="templates/js/app.js"></script> -->
</html>